import(GenomicRanges,DPpackage,ICSNP,changepoint,Biobase,MASS,methods)
importFrom(cluster, agnes)
##importFrom(graphics, plot)
##importFrom(changepoint, cpt.mean, cpt.var)
##importFrom(gplots, col2hex, heatmap.2)
importFrom("graphics", "abline", "arrows", "axis", "barplot",
             "boxplot", "contour", "filled.contour", "legend", "par",
             "points", "segments", "text")
importFrom("grDevices", "colors", "heat.colors", "rainbow", "rgb",
             "terrain.colors")
importFrom("stats", "as.dist", "as.hclust", "binomial", "chisq.test",
             "cmdscale", "cor", "cov", "cutree", "dist", "fisher.test",
             "fitted", "glm", "hclust", "lm", "mahalanobis", "na.omit",
             "p.adjust", "predict", "quantile", "residuals", "var",
             "weighted.mean")
importFrom("utils", "download.file", "installed.packages", "read.csv",
             "read.table", "tail")
importFrom("ellipse", "ellipse")
importFrom("vegan", "procrustes")
importFrom("IRanges","%over%")
exportMethods(distGPS,procrustesAdj,adjustPeaks,mds,clusGPS,mergeClusters,geneSetGPS,plot,gps2xgmml,clusNames,tabClusters)
exportMethods(clusterID,getR2,getStress,getPoints,is.adj,as.matrix,mergeReplicates,rankFactors)
export(adjustPeaks,distGPS,procrustesAdj,clusGPS,mergeClusters,profileClusters,mds,geneSetGPS,domainDist,addVar,uniqueCount)
export(contour2dDP,plotContour,getURL,gff2RDList,boostMDS,mergeReplicates,diffFactors,diffGenes,predictFactors)
exportClasses("mds","distGPS","clusGPS","hclust")
